.but {
    background-color: #eb0d0a;
    color: white;
    //font-weight: bold;
    font-size: 25px;
    width: 460px;
    padding: 15px 0px;
    margin: 15px;
}

.but:hover {
    background-color: white;
    color: #eb0d0a;
}

.but:active {
    transform: scale(0.97);
}