<div>
    <div class="center">
        <div id="form">
            <div class="elem">
                <div>
                    <label for="game">Enter Game Code</label>
                </div>
                <div>
                    <input type="text" name="game" id="game" />
                </div>
            </div>
            <div class="elem">
                <div>
                    <label for="name">Enter you Name</label>
                </div>
                <div>
                    <input type="text" name="name" id="name">
                </div>
            </div>

            <div class="elem cent">
                <button class="but" (click)="submit()">ENTER</button>
            </div>
        </div>
    </div>
</div>