<div>
    <div class="center">
        <div id="form">
            <div class="elem">
                <div>
                    <label for="code">Gamecode &nbsp;</label>
                    <select name="code" id="code">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                        <option value="60">60</option>
                        <option value="70">70</option>
                    </select>
                    <label for="day" style="margin-left: 20px;">Day &nbsp;</label>
                    <select name="day" id="day">
                        <option value="1">Day 1</option>
                        <option value="2">Day 2</option>
                        <option value="3">Day 3</option>
                    </select>
                </div>
            </div>
            <div class="elem">
                <div>

                </div>
            </div>


            <div class="elem cent">
                <button class="but" (click)="submit('host')">HOST</button>
                <button class="but" (click)="submit('score')">SCORE</button>

            </div>
        </div>
    </div>
</div>