#form {
    font-size: 20px;
}

#form input {
    font-size: 20px;
    width: 350px;
    color: #eb0d0a;
}

.elem {
    margin: 15px 0px;
}

.but {
    margin: 10px 5px;
    background-color: #eb0d0a;
    color: white;
    font-size: 17px;
    padding: 4px 0px;
    width: 170px;
    border-radius: 2px;
}

.but:hover {
    background-color: white;
    color: #eb0d0a;
}

#form select {
    font-size: 20px;
    width: 80px;
    text-align: center;
    color: #eb0d0a;
}