<div class="center">
    <div class="bg center">
        <div>
            <div id="bg">
                <div class="head"><p>LEADER BOARD</p></div>
                <table>
                    <tr>
                        <td class="rank bevel emboss">1</td>
                        <td class="family" id="f1"></td>
                        <td><span style="float: right;display: flex;align-items: center;height: 40px;"><img src="assets/dot.png" style="width: 15px;"/></span></td>
                        <td style="width:28%;border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;">
                            <div class="points"><span id="s1"></span>&nbsp;PTS</div>
                        </td>
                    </tr>
                    <tr class="space"></tr>
                    <tr class="alter">
                        <td class="rank">2</td>
                        <td class="family" id="f2"></td>
                        <td><span style="float: right;display: flex;align-items: center;height: 40px;"><img src="assets/dot.png" style="width: 15px;"/></span></td>
                        <td style="width:28%;border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;">
                            <div class="points"><span id="s2"></span>&nbsp;PTS</div>
                        </td>
                    </tr>
                    <tr class="space"></tr>
                    <tr>
                        <td class="rank">3</td>
                        <td class="family" id="f3"></td>
                        <td><span style="float: right;display: flex;align-items: center;height: 40px;"><img src="assets/dot.png" style="width: 15px;"/></span></td>
                        <td style="width:28%;border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;">
                            <div class="points"><span id="s3"></span>&nbsp;PTS</div>
                        </td>
                    </tr>
                    <tr class="space"></tr>
                    <tr class="alter">
                        <td class="rank">4</td>
                        <td class="family" id="f4"></td>
                        <td><span style="float: right;display: flex;align-items: center;height: 40px;"><img src="assets/dot.png" style="width: 15px;"/></span></td>
                        <td style="width:28%;border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;">
                            <div class="points"><span id="s4"></span>&nbsp;PTS</div>
                        </td>
                    </tr>
                    <tr class="space"></tr>
                    <tr>
                        <td class="rank">5</td>
                        <td class="family" id="f5"></td>
                        <td><span style="float: right;display: flex;align-items: center;height: 40px;"><img src="assets/dot.png" style="width: 15px;"/></span></td>
                        <td style="width:28%;border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;">
                            <div class="points"><span id="s5"></span>&nbsp;PTS</div>
                        </td>
                    </tr>
                    <tr class="space"></tr>
                    <tr class="alter">
                        <td class="rank">6</td>
                        <td class="family" id="f6"></td>
                        <td><span style="float: right;display: flex;align-items: center;height: 40px;"><img src="assets/dot.png" style="width: 15px;"/></span></td>
                        <td style="width:33%;border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;">
                            <div class="points"><span id="s6"></span>&nbsp;PTS</div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>